.add-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #006184;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.add-button:hover {
    background-color: #004a69;
}

.add-button img {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.alert-success {
    background-color: #D9EDD0;
    color: #0b3916;
    border-color: #95ca7a;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    width: 20%;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.alert-danger {
    background-color: #e6bfbf;
    color: #190303;
    border-color: #f3baba;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    width: 30%;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}


